---
{
"stream": {
"$id": "about",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"ce_about"
]
},
"fields": [
"id",
"uid",
"meta",
"richTextDescription",
"name",
"slug",
"c_lable",
"c_dotsLocation.name",
"c_dotsLocation.slug",
"c_dotsLocation.yextDisplayCoordinate",
"shortDescription"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "about.html"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{name}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>head}}
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />

</head>

<style>
  .topnav{
    background-color: black;
  }
  #map_canvas {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .class {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .card {
    background-color: white;
    margin: 10px;
    padding: 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 2px;
  }
 
   .active{
    color: rgba(248, 170, 1, 0.76);
  }
</style>

<body>
  {{>navbar}}



  <div class="col-span-1 ">

<div class="page-title">
    <div class="centered-container">
      <h1> {{name}}    </h1>
      <p>{{convertRTFToHTML shortDescription}}</p>
    </div>
  </div>

<div class="centered-container">
     <div class="ml-3 mr-3 mt-5">
    <b class="text-2xl mb-8">{{convertRTFToHTML c_lable}}</b>
    <br>
    <p>{{convertRTFToHTML richTextDescription}}</p>
    <br>
    <a href="expertise">
    <button
      class="text-black text-bold hover:text-white border border-black hover:bg-black focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900 ml-2">what we do</button>
    </a>
</div>
</div>
 
    <br>
           <div class=" bg-white">

       <div class="centered-container text-center">

    <div id="leftside-inner block p-1"
      class="flex flex-wrap list-group-item w-full px-5   mb-4  mr-5 ml-5 ">
    
      {{#each c_dotsLocation}}

      <div data-slug={{slug}} data-name='{{name}}' data-lat={{yextDisplayCoordinate.latitude}}
        data-lng={{yextDisplayCoordinate.longitude}}
        class="list-group-item flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400">


        <ul
          class="">
          <li class="mr-2">
            <h4 aria-current="page"
              class="inline-block p-8 text-lg border-0 text-black-1000 text-bold   bg-white rounded-t-lg dark:bg-gray-800 hover:rounded-none  hover:text-white  hover:bg-[#f5821f]">
              {{name}}</h4>
             
          </li>
        </ul>

      </div>
      {{/each}}
    </div>
</div>
</div>
  </div>


  <div class="h-20 w-full ml-3 mr-4" id="map_canvas">

  </div>
  </div>
  </div>


<div class=" ml-3 mr-4 mb-2 mt-3">
  {{>ourValues}}
</div>

</div>

 <div class="w-full site-footer">
    <div class="centered-container">
      {{>footer}}
    </div>
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZNQlSlEIkFAct5VzUtsP4dSbvOr2bE18&sensor=false&libraries=places"></script>


<script>
  function load_map(Mapping, $, undefined) {
    var self = this;
    function Initialize() {
      var inlat =26.897771;
      var inlng =75.834457;
      $('.list-group-item').each(function () {
        lat = $(this).data('lat');
        lng = $(this).data('lng');
      });
      var myOptions = {
        zoom: 8,
        center: new google.maps.LatLng(inlat, inlng),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      self.map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      self.markers = [];
      self.infoWindow = new google.maps.InfoWindow();
      $('.list-group-item').each(function () {
        var $this = $(this);
        var newpos = new google.maps.LatLng(inlat,inlng);
        var pos = new google.maps.LatLng($this.data('lat'), $this.data('lng'));
        var marker = new google.maps.Marker({
          position:pos,
          map: self.map,
          labelContent: "1",
        });
        var newmarker = new google.maps.Marker({
          position:newpos,
          map: self.map,
          labelContent: "1",
        });

        self.markers.push(marker);

        var location_name = $this.data('name');
        var slug ='/location/'+$this.data('slug');
          // alert(location_name);
          
        /*Infowindow code starts here*/
        
        var contentString = '<a class="text-base font-medium text-textblack " href="'+slug+'" target="_blank" >'+location_name+'</a>';
        /*Infowindow code ends here*/
        if(location_name==="DS India"){
          var staticContentString = '<a class="text-base font-medium text-textblack " href='+slug+' target="_blank" >'+location_name+'</a>';
          self.map.panTo(newpos);
          self.infoWindow.setContent(staticContentString);
          self.infoWindow.open(self.map,marker);
          // $this.siblings().removeClass('active');
          $this.addClass('active');
        }
        else{
         
        }
         $this.click(function () {
          self.map.panTo(pos);
          self.infoWindow.setContent(contentString);
          self.infoWindow.open(self.map, marker);
          $this.siblings().removeClass('active');
          $this.addClass('active');
        });

      

      });
    }
    Initialize();
  }
  (load_map)(window.Mapping = window.Mapping || {}, jQuery);
</script>
</body>
</html>