---
{
"stream": {
"$id": "agenciesDetailed-page",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"ce_weWorkWith"
],
"savedFilterIds": [
"917392681"
]
},
"fields": [
"id",
"uid",
"name",
"slug",
"c_related01.name",
"c_related01.photoGallery",
"c_agencySpecialities.name",
"c_agencySpecialities.photoGallery",
"c_agencySpecialities.c_description1",
"c_relatedCategory.name",
"c_dsibHeader",
"c_dsibParagraph",
"c_firstDescription",
"c_secondDescription",
"c_selfDescription",
"c_startUpHeadingFirst",
"c_startUpDescription",
"c_startUpHeadingSecond",
"c_relatedCategory.photoGallery",
"c_mainRelatedNavber.slug",
"c_mainRelatedNavber.name",
"c_mainRelatedNavber.c_customSubmenuitem.name",
"c_mainRelatedNavber.c_customSubmenuitem.slug",
"c_mainRelatedNavber.c_customSubmenuitem.c_relatedMenuCategory.name",
"c_mainRelatedNavber.c_customSubmenuitem.c_relatedMenuCategory.slug"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{name}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>head}}
  {{!--
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
  <!--Replace with your tailwind.css once created-->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">


</head>

<body>
  <div class="w-full">

    {{>PrototypeMenu}}

    <!-- Image banner code starts here -->

    <section class="mb-0">

      <div class="page-title">
        <div class="centered-container">
          <h1>{{c_dsibHeader}}</h1>
          <p class="text-white">{{c_dsibParagraph}}</p>

        </div>
      </div>

    </section>

    <!-- Image banner code ends here -->

    <!-- Tab with background image code starts here -->

    <!-- Profile Card -->
    <div class="w-full pt-24" style="background-image: url('https://www.dotsquares.com/images/working_technolog_bg.jpg');
                background-repeat: no-repat;  background-size: cover;     background-blend-mode: multiply;">
      <div class="centered-container mx-auto">

        <div class="flex justify-end">
          <div class="block   bg-white max-w-lg text-center">

            <div class="p-6">
              <h2 class="text-[#f5821f]  text-4xl mb-2 text-left font-semibold leading-10 p-8">{{c_selfDescription}}</h2>


            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- End Profile Card -->

    <!-- Tab with bcakground image code ends here -->


    <!-- Space for 90% Heading -->

    <div class="bg-white h-">

      <div class="centered-container mx-auto">
        <div
          class="flex flex-col md:flex-row relative  before:block before:absolute before:bg-black before:top-0 before:bottom-0  before:right-0 before:-left-96 before:z-0   before:-inset-1 ">
          <div class="flex-initial bg-black py-20 pr-10 z-10  w-1/2">
            <h2 class="text-white text-5xl text-left"> <span class="text-7xl block text-[#f5821f] w-full"> 90% </span>
              {{c_startUpHeadingFirst}}</h2>
          </div>
          <div class="flex-auto z-10 bg-white">

            <h2 class="text-1xl font-bold p-10">{{c_firstDescription}}
            </h2>
            <p class="p-10 pt-3">{{c_secondDescription}}</p>

          </div>
        </div>
      </div>
    </div>



    <div class="bg-black py-16">
      <div class="centered-container mx-auto">
        <div class="grid grid-rows-2 sm:grid-cols-2 gap-6">

          {{#each c_agencySpecialities}}


          <div class="">
            <div class="p-6Partnership">
              <img src="{{photoGallery.[0].image.url}}">
              <h5 class="text-xl font-bold mb-2 text-[#f5821f]">{{name}}</h5>
              <p class="text-white text-base mb-4">
                {{c_description1}}
              </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <!-- Space for 90% Heading -->



    <!-- Agency Prohjects Section starts from here -->

    <div class="centered-container mx-auto">
      <h2 class="text-gray-900  text-center  text-3xl mb-2 text-left font-semibold leading-10 p-8 textInsideCar">Over
        <span class="text-[#f5821f]">12,000+ </span>{{c_startUpHeadingSecond}}</h2>

      <div class="grid grid-rows-2 sm:grid-cols-2 gap-6">
        {{#each c_related01}}
        <div class="w-full bg-white shadow-lg  p-4 md:p-2">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="{{photoGallery.[0].image.url}}">
        </div>
        {{/each}}
      </div>
    </div>

    <!-- Agency Projects Section ends here -->

    <!-- Tech Partners Section starts from here -->

    <div class="bg-[#f5821f] mt-20">
      <div class="centered-container mx-auto">

        <h2 class="text-white  text-center  text-3xl mb-2 text-left font-semibold leading-10 p-8">{{c_startUpDescription}}</h2>
        <div class="flex pb-20  gap-2">
          {{#each c_relatedCategory}}
          <div class="bg-white rounded-lg flex items-center  p-6 shadow-md ">
            <div
              class="w-full transition ease-in-out delay-150 w-full  hover:-translate-y-1 hover:scale-110  duration-300  p-1 md:p-2">
              <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg "
                src="{{photoGallery.[0].image.url}}">
            </div>
          </div>
          {{/each}}
        </div>
      </div>
</div>
      <!-- Tech Partners section ends here -->
    

    <!-- Footer code starts here -->
    <div class="w-full site-footer">
      <div class="centered-container">
        {{>footer}}
      </div>
    </div>
    <!-- Footer code ends here -->

</body>

</html>