---
{
    "stream": {
        "$id": "contact-categories",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_dotsquaresPrototype"
        ],
        "savedFilterIds":[
          "929675406"
        ]
      },
      "fields": [
        "id",
        "uid",
        "meta",
        "name",
        "slug",
        "c_dsibHeader",
        "c_dsibParagraph",
        "shortDescription",
        "c_dotsLocation.yextDisplayCoordinate",
        "c_dotsLocation.name",
        "c_dotsLocation.slug",
        "c_dotsLocation.address",
        "c_mainRelatedNavber.slug",
        "c_mainRelatedNavber.name",
        "c_mainRelatedNavber.c_customSubmenuitem.name",
        "c_mainRelatedNavber.c_customSubmenuitem.slug",
        "c_mainRelatedNavber.c_customSubmenuitem.c_relatedMenuCategory.name",
        "c_mainRelatedNavber.c_customSubmenuitem.c_relatedMenuCategory.slug"
       
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>head}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
    <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script>


</head>


    <body>
        
    {{>PrototypeMenu}}
<div class="page-title">
    <div class="centered-container">
      <h1>{{c_dsibHeader}}</h1>
      <p>{{convertRTFToHTML shortDescription}}</p>
    </div>
  </div>


{{>form}}
  

<br>
{{!--image  --}}
<div class="flex h-full  before:block before:absolute before:left-0 before:top-0  before:right-0 before:bottom-0 before:bg-black before:bg-opacity-60 before:w-full before:h-auto  py-0 mx-auto heading pb-0  relative">
<img class="object-cover h-80 w-full img  " src="https://www.dotsquares.com/images/office_pic.jpg" alt="">
<div class="absolute left-0  right-0  top-1/2 transform -translate-y-1/2  ">

<div class="container mx-auto  flex justify-between   ">
<div class="left-address ">
  <h1 class="xl:text-3xl font-bold tracking-tight text-yellow-500">Brighton</h1>
  <p class="text-white">Unit 2, Albourne Court, Henfield Road</p>
  <p class="text-white">Albourne, West Sussex BN6 9FF, UK</p>
  <p class="xl:text-2xl font-bold tracking-tight text-yellow-500">+44 1273 575190</p>
</div>

<div class="right-address text-right">
  <h1 class="xl:text-3xl font-bold tracking-tight text-yellow-500">London</h1>
  <p class="text-white">Unit 2 Hobbs Court
    2 Jacob Street, London SE1 2BG.</p>
  <p class="xl:text-2xl font-bold tracking-tight text-yellow-500">+44 208 0901819</p>
</div>
</div>
  
</div>

</div>
  {{!-- map details--}}
    <div id="leftside-inner block p-1"
      class="flex flex-wrap list-group-item w-full px-5 divide-y-2 divide-gray-100 border-b mb-4 border-solid border-gray-300 mr-5 ml-5 ">
      {{#each c_dotsLocation}}

      <div data-slug={{slug}} data-name='{{name}},{{address.line1}}' data-lat={{yextDisplayCoordinate.latitude}}
        data-lng={{yextDisplayCoordinate.longitude}}
        class="list-group-item flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 tab">


        <ul
          class="">
          <li class="mr-2">
            <h4 aria-current="page"
              class="inline-block p-4 text-black-1000 font-bold bg-gray-100 rounded-t-lg dark:bg-gray-800 hover:bg-yellow-300 ">
              {{name}}</h4>
          </li>
        </ul>

      </div>
      {{/each}}
    </div>
{{!-- map --}}

  <div class="h-96 w-full ml-3 mr-4" id="map_canvas">
<div class="address">
  {{#each c_dotsLocation}}
  <p>{{address.line1}}</p>
  {{/each}}
</div>
  </div>
  <div class="container mx-auto text-center pt-10 text-black">
    <h1 class="text-black md:text-5xl xl:text-4xl text-bold tracking-tight py-1">Visit Us</h1>
    <h2 class="text-black md:text-2xl xl:text-2xl text-bold tracking-tight py-1">Like discussing your ideas in person?</h2>
    <p class="text-black ml-20 mr-20">If you already have a project in mind, you can fill out our form and our technical staff can start researching immediately, but it’s always great to meet our clients face to face. </p>
    <p class="text-black py-5">Our offices are conveniently located either 10 mins walk from London Bridge station or just outside Brighton.</p>

  </div>
     
 <div class="w-full site-footer">
          <div class="centered-container">
              {{>footer}}
          </div>
      </div>





<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZNQlSlEIkFAct5VzUtsP4dSbvOr2bE18&sensor=false&libraries=places"></script>

<script>
  function load_map(Mapping, $, undefined) {
    var self = this;
    function Initialize() {
      var inlat =26.897771;
      var inlng =75.834457;
      $('.list-group-item').each(function () {
        lat = $(this).data('lat');
        lng = $(this).data('lng');
      });
      var myOptions = {
        zoom: 8,
        center: new google.maps.LatLng(inlat, inlng),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      self.map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      self.markers = [];
      self.infoWindow = new google.maps.InfoWindow();
      $('.list-group-item').each(function () {
        var $this = $(this);
        var newpos = new google.maps.LatLng(inlat,inlng);
        var pos = new google.maps.LatLng($this.data('lat'), $this.data('lng'));
        var marker = new google.maps.Marker({
          position:pos,
          map: self.map,
          labelContent: "1",
        });
        var newmarker = new google.maps.Marker({
          position:newpos,
          map: self.map,
          labelContent: "1",
        });

        self.markers.push(marker);

        var location_name = $this.data('name');
        var slug ='/location/'+$this.data('slug');
          // alert(location_name);
          
        /*Infowindow code starts here*/
        
        var contentString = '<a class="text-base font-medium text-textblack " href="'+slug+'" target="_blank" >'+location_name+'</a>';
        /*Infowindow code ends here*/
        if(location_name==="India,9, 6-KHA-41, Sector 6, Jawahar Nagar"){
          var staticContentString = '<a class="text-base font-medium text-textblack " href='+slug+' target="_blank" >'+location_name+'</a>';
          self.map.panTo(newpos);
          self.infoWindow.setContent(staticContentString);
          self.infoWindow.open(self.map,marker);
          $this.siblings().removeClass('active');
          $this.addClass('active');
        }
        else{
         
        }
         $this.click(function () {
          self.map.panTo(pos);
          self.infoWindow.setContent(contentString);
          self.infoWindow.open(self.map, marker);
          $this.siblings().removeClass('active');
          $this.addClass('active');
        });

      

      });
    }
    Initialize();
  }
  (load_map)(window.Mapping = window.Mapping || {}, jQuery);
</script>
</body>
</html>