---
{
"stream": {
"$id": "navbarListing",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"ce_mainDotsquaresPrototype"
]
},
"fields": [
"id",
"uid",
"name",
"slug",
"c_relatedCategory.slug",
"c_relatedCategory.name",
"c_relatedCategory.c_relatedCategory.name",
"c_relatedCategory.c_relatedCategory.slug",
"c_relatedCategory.c_relatedCategory.c_relatedMenuCategory.name",
"c_relatedCategory.c_relatedCategory.c_relatedMenuCategory.slug"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "index.html"
}
---



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{name}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>head}}
  <link rel="stylesheet" type="text/css" href="https://assets.sitescdn.net/answers/v1/answers.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

  <script src="https://assets.sitescdn.net/answers/v1/answers.min.js"></script>
</head>

<body>


  <div class=" nav">
    <ul>
      <li>UK: <a href="tel:+442080901819">(+44) 208 0901819 </a></li>
      <li>US: <a href="tel:+13015639488">(+1) 301 563 9488</a></li>
      <li>AUS: <a href="tel:+61386768288">(+61) 3 8676 8288,</a> <a href="tel:+61395115598">(+61) 3 9511 5598</a></li>
    </ul>
  </div>
  <div class="topnav">
    <div class="flex flex-wrap items-center justify-between">
      <a class="logo" href="/">
        <div class="inline-flex items-center gap-x-2 gap-y-5">
          <img src="https://www.dotsquares.com/img/uploads/dotlo-1-1.png" height="256" width="256" class="">
        </div>
      </a>
      <div>
        <div class="hidden md:flex grid gap-x-10 Navbar " style="margin-left: 400px;">
          <!-- Menu listing Code starts here -->
          {{!-- <nav>
            <ul class="main-menu">
              {{#each c_relatedCategory}}
              <li class="nameList"><a href="{{slug}}">{{name}}</a>
                <ul class="submenu">
                  {{#each c_relatedCategory}}
                  
                      <li class="newList2"><a href="{{slug}}">{{name}}</a>
                    <ul class="sub-submenu">
                      {{#each c_relatedMenuCategory}}
                      <li class="newList1"><a href="{{slug}}">{{name}}</a></li>
                      {{/each}}
                    </ul>
                  </li>
                 
                  {{/each}}
                </ul>
              </li>

              {{/each}}
            </ul>
          </nav> --}}
          <!-- Menu Listing Code ends here -->
          {{!-- api nav --}}
           <nav>
            <ul class="main-menu">
              {{#each c_relatedCategory}}
              <li class="nameList"><a href="{{slug}}">{{name}}</a>
                <ul class="submenu">
                
                  {{#each c_relatedCategory}}
                  
                      <li class="newList2"><a href="{{slug}}">{{name}}</a>
                 
                    <ul class="sub-submenu">
                      {{#each c_relatedMenuCategory}}
                      <li class="newList1"><a href="{{slug}}">{{name}}</a></li>
                      {{/each}}
                    </ul>
                  </li>
                 
                  {{/each}}
                </ul>
              </li>

              {{/each}}
            </ul>
          </nav>
        </div>
      </div>

      <!-- JavaScript code for phone numbers  in navbar ends here -->



    </div>

  </div>



  <!-- Navbar code ends here -->

  <div class="home-banner">
    <img src="https://wallpaperaccess.com/full/186244.jpg">
    <div class="banner-content">
      <div class="centered-container">
        <h1>Welcome to the Dotsquares</h1>
      </div>
    </div>
  </div>
  <div class="banner-bottom-content">
    <div class="centered-container">
      <p>Multiple technologies at our fingertips, a worldwide presence and an appetite for all things digital.....</p>
      <button class="btn"><a href="about.html">MORE</a></button>
    </div>
  </div>
  <div class="proud-sec">
    <img src="https://www.dotsquares.com/img/forbes_conti.png">
  </div>
  <div class="our-clients">
    <div class="centered-container">
      <h2>Our Clients</h2>
      <div class="clients-list">
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_yanki.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_bookit.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_news-client.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_comdo.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_aribnd.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_shildpay.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_honda.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_fujitsu.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_thomas.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_dunkin.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_virgin.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_sta.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_honda.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_fujitsu.png">
        </div>

        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_thomas.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_dunkin.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_virgin.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_sta.png">
        </div>
      </div>
    </div>
  </div>

  {{>footer}}


  {{!-- https://www.dotsquares.com/img/forbes_conti.png --}}
  

</body>

</html>
