---
{
    "stream": {
        "$id": "navbarListing",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_mainDotsquaresPrototype"
        ]
      },
      "fields": [
        "id",
        "uid",
        "name",
        "slug",
        "c_relatedCategory.slug",
        "c_relatedCategory.name",
        "c_relatedCategory.c_relatedCategory.name",
        "c_relatedCategory.c_relatedCategory.slug",
        "c_relatedCategory.c_relatedCategory.c_relatedMenuCategory.name",
        "c_relatedCategory.c_relatedCategory.c_relatedMenuCategory.slug"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "index.html"
}
---



<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Yext's Fashion Warehouse</title>
      <meta name="description" content="Luc's Fashion Warehouse Home Page">
      {{>head}}
       <link
      rel="stylesheet"
      type="text/css"
      href="https://assets.sitescdn.net/answers/v1/answers.css"
    />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
     <style>
      body {
        background: #000;
      }
      .mrigankFooter{
        background:black;
  }
     
      nav ul ul {
  display: none;
}

  nav ul li:hover > ul {
    display: block;
  }
  nav ul {
  background: #000; 
  /*background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  */
  /*background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); */
  /*background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); */
  /*box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
 
  /*border-radius: 10px;  */
  list-style: none;
  position: relative;
  display: inline-table;
}
  nav ul:after {
    content: ""; clear: both; display: block;
  }
  nav ul li {
  float: left;
}
  nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
  }
    nav ul li:hover a {
      color: #fff;
    }
  
  nav ul li a {
    display: block; padding: 25px 40px;
    color: white; text-decoration: none;
  }
  nav ul ul {
  background: #5f6975; border-radius: 0px; padding: 0;
  position: absolute; top: 100%;
}
  nav ul ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
  }
    nav ul ul li a {
      padding: 15px 40px;
      color: #fff;
    } 
      nav ul ul li a:hover {
        background: #4b545f;
      }
      nav ul ul ul {
  position: absolute; left: 100%; top:0;
}
li {
  display: inline;
}
.answers-layout {
        max-width: 50rem;
        margin: auto;
      }
    </style>
    <script src="https://assets.sitescdn.net/answers/v1/answers.min.js"></script>
  </head>
  <body>
  

    <!-- Navbar code starts here -->
<div class=" nav mr-5 py-5" style="margin-left: 700px;">
            <ul>
             <li><a href="#">UK:(+44) 208 0901819 </a></li>
<li><a href="#">US:(+1) 301 563 9488</a></li>
<li><a href="#">AUS:(+61) 3 8676 8288, (+61) 3 9511 5598</a></li>
</ul>
        </div>
          <div class="topnav">
              <div class="flex flex-wrap py-7 items-center justify-between">
                      <a href="/">
                          <div class="inline-flex items-center gap-x-3 gap-y-5">
                              <img src="https://www.dotsquares.com/img/uploads/dotlo-1-1.png" height="256" width="256" class="">
                              
                          </div>
                      </a>
                    <div>
                      
                       <div class="hidden md:flex grid gap-x-10 mrigankNavbar " style="margin-left: 400px;">
                        <!-- Menu listing Code starts here -->
                            <nav>
                               {{#each c_relatedCategory}}
                                <ul>
                                  <li class="nameList"><a href="{{slug}}">{{name}}</a>
                                    <ul class="mrigank">
                                        {{#each c_relatedCategory}}
                                        <li class="newList2"><a href="{{slug}}">{{name}}</a>
                                          <ul>
                                          {{#each c_relatedMenuCategory}}  
                                           <li class="newList1"><a href="{{slug}}">{{name}}</a></li> 
                                           {{/each}}
                                          </ul>
                                        </li>  
                                        {{/each}}
                                    </ul>
                                  </li>
                                </ul>
                              {{/each}}
                            </nav>
                      <!-- Menu Listing Code ends here -->
                    </div>   
                      </div>  
      
        <!-- JavaScript code for phone numbers  in navbar ends here -->

                    

              </div>

          </div>

           

<!-- Navbar code ends here -->

      <div class="w-full">
          <div class="centered-container">



          </div>
          <div class="w-full m-0 p-0 bg-cover bg-bottom">
            <img src="https://wallpaperaccess.com/full/186244.jpg" style="height: 100vh; max-height:460px;width: 1500px;">
          </div>
          <div class="centered-container">
            <div class="py-12 grid gap-y-5">
                <div class="uppercase tracking-wide no-underline hover:no-underline font-bold text-white text-2xl">Welcome to the Dotsquares</div>
                
            </div>
            <div class="section">
             
            </div>
          </div>
      </div>
      <div class="w-full bg-gray-50 mrigankFooter">
          <div class="centered-container">
              {{>footer}}
          </div>
      </div>


      
  </body> 
</html>