---
{
"stream": {
"$id": "industry-details",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"ce_industries_detail"
]
},
"fields": [
"id",
"uid",
"meta",
"richTextDescription",
"name",
"slug",
"c_service",
"shortDescription",
"c_mainRelatedNavber.slug",
"c_mainRelatedNavber.name",
"c_mainRelatedNavber.c_customSubmenuitem.name",
"c_mainRelatedNavber.c_customSubmenuitem.slug",
"c_mainRelatedNavber.c_relatedCategory.c_relatedMenuCategory.name",
"c_mainRelatedNavber.c_relatedCategory.c_relatedMenuCategory.slug"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{name}}</title>
  <meta name="description" content={{richTextDescription}}>
  {{>head}}
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />
</head>
<body>
  {{>PrototypeMenu}}
  <div class="page-title">
    <div class="centered-container">
      <h1>
        {{name}}
      </h1>
      <p>{{convertRTFToHTML shortDescription}}</p>
    </div>
  </div>
  <div class="category-menu">
    <div class="centered-container">
      <ul class="submenuNew"></ul>
    </div>
  </div>
  <div class="categories-details">
    <div class="centered-container">
      <div>{{convertRTFToHTML richTextDescription}}</div>
      {{#if c_service}}
        <h3 class="text-xl">Services Provided by Dotsquares</h3>
        <ul>
          {{#each c_service}}
            <li> {{this}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>

  <!-- JavaScript Code starts here -->
  {{>footer}}


  
  <script type="text/javascript">
      $(document).ready(function () {
          var pathname = window.location.pathname.replace("/", "");
          $.ajax({
              url: "https://liveapi-sandbox.yext.com/v2/accounts/me/entities?api_key=b262ae7768eec3bfa53bfca6d48e4000&v=20211229&limit=40&entityTypes=ce_industries_detail",
              type: "GET",
              dataType: "json",
              success: function (res) {
                  var html = "";
                  var result = res;
                  var cat = result.response.entities;
                  // console.log(cat);
                  cat.forEach((f, i) => {
                      let n = f.name; // Here n means Name
                      let s = f.slug; // Here s means Slug

                      let activeClass = "";
                      if (s == pathname) {
                          activeClass = "active";
                      }

                      html += '<li><a class="bg-black text-white hover:text-yellow-500 ' + activeClass + ' ml-3 mr-3 " data-id="' + s + '" href=' + s + ">" + n + "</a></li>";
                  });
                  $(".submenuNew").append(html);
              },
          });
      });
  </script>
</body>





</html>