---
{
"stream": {
"$id": "industry-listing-categories",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"ce_dotsquaresPrototype"
],
"savedFilterIds":[
"924805508"
]
},
"fields": [
"id",
"uid",
"meta",
"name",
"slug",
"shortDescription",
"c_relatedCategory.photoGallery",
"c_relatedCategory.name",
"c_relatedCategory.shortDescription",
"c_relatedCategory.slug"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{name}}</title>
  <meta name="description" content=Category page for {{name}}.>
  {{>head}}
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />
  <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
  <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script>
</head>


<body>

  {{>navbar}}


  <div class="page-title">
    <div class="centered-container">
      <h1>
        {{name}}
      </h1>
      <p>{{convertRTFToHTML shortDescription}}</p>
    </div>
  </div>
  {{!-- --}}
  <div class="category-menu">
    <div class="centered-container">
      <ul>
        {{#each c_relatedCategory}}
        <li>
          <a href={{slug}}>{{name}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

  {{!-- cards --}}
  <div class="categories">
    <div class="centered-container">
      <div class="grid grid-cols-3 justify-evenly mb-10 -mx-4">
        {{#each c_relatedCategory}}
        {{#if photoGallery}}
        <div class="category-block px-4">
          <div class="inner-block" href={{slug}}>
            <img class=" image" src="{{photoGallery.[0].image.url}}" alt="">
            <h5 class="cate-title">{{name}}</h5>
            <div class="hover-content">
              <h5>{{name}}</h5>
              <p class="text ">{{convertRTFToHTML shortDescription}}</p>
              <a href="{{slug}}" class="btn-primary">
                Read more

              </a>
            </div>
          </div>
        </div>
        {{else}}
        <a class="inline-block" href={{slug}}>

          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-00 dark:text-white ">{{name}}</h5>

        </a>
        <p class="text ">{{convertRTFToHTML shortDescription}}</p>

        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>

  {{>footer}}
</body>

</html>