---
{
"stream": {
"$id": "solution_listing-page",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"ce_expertise"
],
"savedFilterIds": [
"924130633"
]
},
"fields": [
"id",
"uid",
"name",
"slug",
"c_richTextDescription",
"c_description1",
"photoGallery",
"c_relatedMenuCategory.name",
"c_relatedMenuCategory.slug",
"c_relatedMenuCategory.photoGallery",
"c_relatedMenuCategory.c_description1",
"c_relatedMenuCategory.c_richTextDescription",
"c_mainRelatedNavber.slug",
"c_mainRelatedNavber.name",
"c_mainRelatedNavber.c_customSubmenuitem.name",
"c_mainRelatedNavber.c_customSubmenuitem.slug",
"c_mainRelatedNavber.c_customSubmenuitem.c_relatedMenuCategory.name",
"c_mainRelatedNavber.c_customSubmenuitem.c_relatedMenuCategory.slug"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{name}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>head}}
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />
  <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
  <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script>


</head>


<body>
  <div class="bg-black ">
    {{>PrototypeMenu}}
    <!-- Image banner code starts here -->


    <!-- Section: Design Block -->
    <section class="mb-10">

      <div class="page-title">
        <div class="centered-container">
          <h1> Solutions </h1>
          <p>We offer web services, application solutions and mobile app development. We work closely with our clients
            to offer offshore outsourcing services which reduce costs, enhances organisational flexibility, and improves
            business and IT performance.</p>
        </div>
      </div>

    </section>
    <!-- Section: Design Block -->




    <!-- Image banner code ends here -->


  </div>
  <div class="centered-container">

    <div class="bg-black Nav dimagiHalat ml-3 mr-11 rounded">
      <ul
        class="md:flex items-center bg-black justify-between text-base text-white pt-4 md:pt-0 py-4 px-5 my-2 rounded">
        <li>
          {{#each c_relatedMenuCategory}}
          <a class="inline-block no-underline hover:text-yellow-500 py-1 px-2" href={{slug}}>{{name}}</a>
          {{/each}}
        </li>
      </ul>
    </div>



    <div class="ml-4 mr-4 mb-12">
      <p
        class="font-bold after:w-12  after:block after:top-7 after:absolute after:-inset-1 after:bottom-0 after:h-1  after:bg-yellow-500  relative inline-block  my-3 mb-8">
        {{c_richTextDescription}}</p>
      <p class="leading-7">{{c_description1}}</p>
    </div>

  </div>

  {{!-- cards --}}





  <div class="w-full site-footer">
    <div class="centered-container">
      {{>footer}}
    </div>
  </div>

</body>

</html>