---
{
    "stream": {
        "$id": "startupsDetailed-page",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_weWorkWith"
        ],
        "savedFilterIds": [
          "917387282"
        ]
      },
      "fields": [
        "id",
        "uid",
        "name",
        "slug",
        "photoGallery",
        "c_description1",
        "c_richTextDescription",
        "c_related01.name",
        "c_related01.c_description1",
        "c_relatedCategory.name",
        "c_dsibHeader",
        "c_dsibParagraph",
        "c_firstDescription",
        "c_secondDescription",
        "c_selfDescription",
        "c_startUpHeadingFirst",
        "c_startUpDescription",
        "c_agencySpecialities.name",
        "c_agencySpecialities.c_c_startup",
        "c_agencySpecialities.c_c_scaleup",
        "c_agencySpecialities.c_c_mature",
        "c_startUpHeadingSecond",
        "c_relatedCategory.photoGallery",
        "c_relatedCategory.c_description",
        "c_mainRelatedNavber.slug",
        "c_mainRelatedNavber.name",
        "c_mainRelatedNavber.c_customSubmenuitem.name",
        "c_mainRelatedNavber.c_customSubmenuitem.slug",
        "c_mainRelatedNavber.c_customSubmenuitem.c_relatedMenuCategory.name",
        "c_mainRelatedNavber.c_customSubmenuitem.c_relatedMenuCategory.slug"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{name}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{>head}}
        {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
        <!--Replace with your tailwind.css once created-->
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
            
    </head>
    <body>
        <div class="w-full">
            
                {{>PrototypeMenu}}
           
             <!-- Image banner code starts here -->
    <div>

          <!-- Section: Design Block -->
          <section class="mb-10">
          
          
<div class="page-title">
    <div class="centered-container">
      <h1>{{c_dsibHeader}}</h1>
    </div>
  </div>

                  </section>
          <!-- Section: Design Block -->

    </div>


    <!-- Image banner code ends here -->
            
            <!-- Paragraph code starts here -->
               <div class="centered-container text-center">

            <div class="start_up_title_head">
            <h1 class="text-4xl md:text-4xl xl:text-4xl font-bold tracking-tight mb-2">{{c_richTextDescription}}</h1>

            <p>{{c_description1}}</p>
            </div>
               <h2 class="title-heading text-4xl md:text-4xl xl:text-4xl font-bold tracking-tight mb-2">{{c_startUpHeadingFirst}}</h2>

           </div>
            <!-- Paragraph code ends here -->
              

              <!-- Startups list code start here -->
              <div class="start-up_process pt-12">
              <div class="centered-container text-center">
                  <div class="flex gap-4 flex-wrap justify-center start-flex">

                {{#each c_related01}}
                    <div class="block bg-[#f5821f] card-bx rounded-lg shadow-lg bg-white max-w-sm text-center startupCardLists">
                      <div class="p-16">
                        <h5 class="text-xl font-bold mb-2 text-white">{{name}}</h5>
                        <p class="text-white text-base mb-4">
                          {{c_description1}}
                        </p>
                      </div>
                    </div>
                  {{/each}}
                                    </div>

                  </div>
              </div>              


              <!-- Startup list code ends here -->

              <!-- Paragraph after Startup list starts here -->
                          <div class="centered-container pt-10 text-center">

              <div class="text-center paragraph1">
                <p>{{c_firstDescription}}</p>
              </div>
</div>


              <!-- Paragraph after Startup list ends here -->



<!-- Dotsquares – The ultimate Start-up Partnership! Code starts here -->
   
      <div class="bg-black my-12 pb-12">

   <div class="patnershipHeading">
     <h2 class=" title-heading text-4xl text-center py-10 text-white md:text-4xl xl:text-4xl font-bold tracking-tight mb-2">{{c_startUpHeadingSecond}}</h2>
   </div>
  
              <div class="start-up_processPartnership">
                
                                  <div class="flex gap-4 flex-wrap justify-center start-flex">

                {{#each c_relatedCategory}}
                

                    <div class="block border rounded-lg shadow-lg   max-w-sm text-center startupCardListsPartnership">
                      <div class="p-6Partnership">
                        <img src="{{photoGallery.[0].image.url}}" style="margin-left: 140px; margin-bottom: 10px;margin-top: 10px;">
                        <h5 class="text-xl font-bold mb-2 text-amber-600">{{name}}</h5>
                        <p class="text-white text-base mb-4">
                          {{c_description}}
                        </p>
                      </div>
                    </div>
                  {{/each}}
              </div>
              </div>
</div>
 



<!-- Dotsquares – The ultimate Start-up Partnership! Code ends here -->

        </div>

<div class="centered-container mb-20">

<table class="table-fixed hover:table-fixed text-center border-collapse  w-full text-sm">
  <thead>
    <tr  class="bg-black py-3 text-white">
           <th  class=" py-3 bg-amber-600 "></th>
          <th  class=" py-3">Start-Up</th>
      <th class=" py-3">Scale-Up</th>
      <th class=" py-3 ">Mature</th>
    </tr>
  </thead>
  <tbody>
    {{c_agencySpecialities}} 
    {{#each c_agencySpecialities}}
    <tr class="border-b   py-3  border-gray-300">
      <td class=" py-3">{{name}}</td>
      <td class=" py-3">{{c_c_startup}}</td>
      <td class=" py-3">{{c_c_scaleup}}</td>
      <td class=" py-3">{{c_c_mature}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


</div>



        <div class="w-full site-footer">
    <div class="centered-container">
      {{>footer}}
    </div>
  </div>
    </body> 

</html>
