---
{
    "stream": {
        "$id": "technology_details",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_categoryMenus"
        ],
         "savedFilterIds": [
           "924665134"
         ]
       
      },
      "fields": [
        "id",
        "uid",
        "meta",
        "c_richTextDescription",
        "name",
        "slug",
        "c_service",
        "c_description1",
        "photoGallery"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>head}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />

</head>
<style>
  .active{
    color: rgba(248, 170, 1, 0.76);
  }
  .topnav{
    background: black;
  }
  .mrigankFooter{
        background:black;
  }
</style>


    <body>
       <div class="bg-black ">
     {{>navbar}}

                <div class="col-span-1">
                 
                    <div class="container py-8 px-6 mx-auto  mb-40 relative overflow-hidden bg-no-repeat bg-cover">
                        <div class="uppercase tracking-wide no-underline hover:no-underline font-bold  text-4xl mb-8 flex flex-wrap py-7 items-center justify-between bg-black text-white ">
                            {{name}} 
                      </div>
                   
                    </div>
                        <br>
                          
                       
                    <div class="bg-white">
                           <br>
                            <div class="mt-2 bg-white">
                                 <div   class=" bg-black Nav relatedProductTab ml-3 mr-3 rounded">
                                  
                                 </div>  
                            </div>
                             <br>
                        <p class="mt-8 mb-8 text-xl">{{convertRTFToHTML richTextDescription}}</p>
                        <br>
                        <b class="text-xl">Services Provided by Dotsquares</b>
                        <ul>
                        <li>
                        <p class="mt-4 text-xl">{{convertRTFToHTML c_service}}</p>
                        </li>
                        </ul>
                     </div>
                </div>
            
    </body> 

      <div class="w-full site-footer">
    <div class="centered-container">
      {{>footer}}
    </div>
  </div>


</html>

      
        <!-- JavaScript Code starts here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">  </script>
        <script type="text/javascript">
		$(document).ready(function(){
		var pathname = window.location.pathname.replace('/','');
				$.ajax({
					url:  "https://liveapi-sandbox.yext.com/v2/accounts/me/entities?api_key=b262ae7768eec3bfa53bfca6d48e4000&v=20211229&limit=40&entityTypes=ce_categoryMenus",
					type: 'GET',
					dataType: 'json',
					success: function(res) {
						var html="";
					  var result=res;
					  var cat = result.response.entities;
					  // console.log(cat);
					  cat.forEach((f,i)=>{
						let n = f.name; // Here n means Name
						let s = f.slug; // Here s means Slug
												
						let activeClass =  ''; 
						if(s == pathname){
							activeClass =  'active';
						}
						
						html+= '<a class="bg-black text-white hover:text-yellow-500 px-2 '+activeClass+' ml-3 mr-3 " data-id="'+s+'" href='+s+'>'+n+'</a>';
						
					  })
					 $(".relatedProductTab").append(html);
					}
				})
		}); 
		</script>


